/**
 * The CSS properties that allow you to define:
 * the color, size, spacing, and shape of text.
 */
body {
  font-family: 'Space Mono', monospace;
  font-size: $size-font-mobile;
  color: var(--color-text);
}

h1, h2{
  color: var(--color-text-accent);
}

