// -----------------------------------------------------------------------------
// Dark theme
// -----------------------------------------------------------------------------

// put on html tag by js
.dark {
  --color-body-bg: #{$color-body-bg-dark};
  --color-app-bg: #{$color-app-bg-dark};
  --color-text: #{$color-text-dark};
  --color-text-accent: #{$color-text-accent-dark};
  --color-app-bg-reversed: #{$color-app-bg-light};
}
