// -----------------------------------------------------------------------------
// Light theme
// -----------------------------------------------------------------------------

// put on html tag by js
html {
  --color-body-bg: #{$color-body-bg-light};
  --color-app-bg: #{$color-app-bg-light};
  --color-text: #{$color-text-light};
  --color-text-accent: #{$color-text-accent-light};
  --color-app-bg-reversed: #{$color-app-bg-dark};
  --color-app-shadow: #{$color-app-shadow-light};
}
